@using WebPlanner.Domain.Enums
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <link href="@Url.Content("~/css/_Layout.css")" rel="stylesheet" type="text/css"/>
</head>

<body>
    <h1>Web planner</h1>

<nav>
  @if(User.Identity.IsAuthenticated)
  {
    <a href="#">Home</a>     
    <a asp-controller="MyDay" asp-action="ShowMyDay">My day</a>
    <a href="#">Wish list</a>
    <a asp-controller="CashSaving" asp-action="Cash">Cash saving</a>
    <a href="@Url.Action("SetUpAccount","Account")">Account</a>
    <div class="animation start-home"></div>
  }
  else
  {
    <a href="" class="disabled">Home</a>
    <a href="" class="disabled">My day</a>
    <a href="" class="disabled">Wish list</a>
    <a href="" class="disabled">Cash saving</a>
    <a href="" class="disabled">Account</a>
    <div class="animation start-home"></div>
  }
        
  
</nav>

<div>
    @RenderBody()
</div>
</body>

</html>
