
<!Docktype html>
<html>
    <head>

    </head>
    <body>
        <form>
        Раздел
        <select>
            <option selected="selected">Выберите объект</option>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
        </select><br>
        <input type="button">Добавить новый раздел
        </form>
        Подраздел
        <select>
            <option selected="selected">Выберите объект</option>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
        </select>
    </body>
</html>